.bg-danger {
    background-color: #d9534f;
}

.bg-success {
    background-color: #5cb85c;
}

.bg-info {
    background-color: #5bc0de;
}

.bg-primary {
    background-color: #428bca;
}

.bg-warning {
    background-color: #f0ad43;
}

.text-white {
    color: white;
}

.dashboard{
    color: white;
    padding-top: 0px;
}
.dashboard h2 {
    text-align: center;
}