<html>
    <head>
        
            {% if title %}
            <title>{{ title }} - Budget</title>
            {% else %}
            <title>Welcome to your Budget</title>
            {% endif %}
    </head>
    <body>
        <p>Budget: 
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('new_category') }}">Categories</a>
        <a href="{{ url_for('new_transaction') }}">Transaction</a></p>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>