{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">

 </script>
 {{ super() }}
{% endblock %}

{% block app_content %}
    <h1>
        {{ category.title }}
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-default" role="group" aria-label="Edit Category" href="{{ url_for('edit_category', category_id=category.id) }}">
                    <span class="glyphicon glyphicon-pencil"></span> Edit category
                </a>
                <button class="btn btn-danger" role="group" aria-label="Delete Category" data-toggle="modal" data-target="#modalDeleteCategory">
                    <span class="glyphicon glyphicon-trash"></span> Delete category
                </button>
            </div>
            <div class="btn-group" role="group">
                <a class="btn btn-default" role="group" aria-label="New transaction" href="{{ url_for('new_line_item', category_id=category.id) }}">
                    <span class="glyphicon glyphicon-plus"></span> New transaction
                </a>
            </div>
        </div>
    </h1>

<!--  Weekly Transactions panel -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Weekly transactions</h2>
        <div class="float-right"><a href="{{ url_for('new_line_item', category_id=category.id) }}">New transaction</a></div>
    </div>
    <div class="panel-body">
        {% if weekly_items %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Location</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in weekly_items %}
                    <tr>
                        <td>{{ item.date|date }}</td>
                        <td>{{ item.location }}</td>
                        <td>{{ item.amount|dollars}}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <a href="{{ url_for('edit_transaction', transaction_id=item.id) }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Count:</td>
                        <td>{{ weekly_items | length }}</td>
                        <td>Total:</td>
                        <td>{{ weekly_items | sum(attribute='amount') |dollars }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% else %}
        <strong>None</strong>
        {% endif %}
    </div>
</div>

<!-- Monthly transactions panel-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Monthly transactions</h2>
    </div>
    <div class="panel-body">
        {% if monthly_items %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in monthly_items %}
                    <tr>
                        <td>{{ item.date|date }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.location }}</td>
                        <td>{{ item.amount|dollars }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Count:</td>
                        <td>{{ monthly_items | length }}</td>
                        <td>Total:</td>
                        <td>{{ monthly_items | sum(attribute='amount') | dollars }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        {% else %}
        <strong>None</strong>
        {% endif %}
    </div>
</div>

<div class="modal fade" id="modalDeleteCategory" tabindex="-1" role="dialog" aria-labelledby="categoryConfirm">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="modalCategoryLabel">Delete {{ category.title }}</h4>
            </div>
            <div class="modal-body">
              Are you sure you want to delete the {{ category.title }} category?<br>This can not be undone!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <a type="button" class="btn btn-danger" href="{{ url_for('delete_category', category_id=category.id) }}">
                  <span class="glyphicon glyphicon-trash"></span> Delete
              </a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}