{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='cssCharts/chart.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bean-counter.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='cssCharts/jquery.chart.min.js') }}"></script>
<script>
    $('.bar-chart').cssCharts({ type: "bar" });
    $('.donut-chart').cssCharts({ type: "donut" });
    $('.line-chart').cssCharts({ type: "line" }); 
</script>
{% endblock %}

{% block app_content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Weekly Stats</h2>
    </div>
    <div class="panel-body">
        <!-- The dashboar for weekly -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div
                class="col-xs-12 well well-lg dashboard
                     {{ 'bg-success' if ((categories | sum(attribute='budget_amount')) - ((categories | sum(attribute='weekly_total') or 0) or 0)) >= 0 }}
                     {{ 'bg-danger' if ((categories | sum(attribute='budget_amount')) - ((categories | sum(attribute='weekly_total') or 0) or 0)) < 0 }}">
                <h3>Remaining</h3>
                <h2>
                    {{ ((categories | sum(attribute='budget_amount')) - ((categories | sum(attribute='weekly_total') or 0) or 0)) | dollars}}
                </h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 hidden-xs">
            <div class="col-xs-12 well well-lg dashboard bg-info">
                <h3>Spent</h3>
                <h2>{{ (categories | sum(attribute='weekly_total')) |dollars }}</h2>
            </div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <div class="col-xs-12 well well-lg dashboard bg-primary">
                <h3>Budget</h3>
                <h2>{{ (categories | sum(attribute='budget_amount')) | dollars }}</h2>
            </div>
        </div>
        <!-- Get the percentage for each category.  If it is over 100% set it to 100% because the chart can't handle it -->
        {% if categories %}
        {% for category in categories %}
        {% set percentage = category.weekly_total/category.budget_amount %}
        {% if percentage > 1 %}
        {% set percentage = 1 %}
        {% endif %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ url_for('category', category_id=category.id) }}">
                        <strong>{{ category.title }}</strong>
                    </a>
                    <a href="{{ url_for('new_line_item', category_id=category.id) }}">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </div>
                <div class="panel-body">
                    <p>Weekly Budgeted: {{ category.budget_amount|dollars }}</p>
                    <p>Weekly total:
                        {% if category.weekly_total %}
                        {{ category.weekly_total|dollars }}
                        {% else %}
                        None so far
                        {% endif %}
                    </p>
                    <p>Remaining:
                        {% if category.weekly_total %}
                        {{ (category.budget_amount - category.weekly_total)|dollars }}
                        {% else %}
                        {{ category.budget_amount|dollars }}
                        {% endif  %}
                    </p>
                    <div class="chart">
                        <div class="donut-chart" data-percent="{{ percentage }}" data-title="% of budget"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<!-- Monthly Section-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Monthly Stats</h1>
    </div>
    <div class="panel-body">
        <!-- Monthly Dashboard -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div
                class="col-xs-12 well well-lg dashboard
                 {{ 'bg-success' if ((categories | sum(attribute='monthly_budget')) - ((categories | sum(attribute='monthly_total') or 0) or 0)) >= 0 }}
                 {{ 'bg-danger' if ((categories | sum(attribute='monthly_budget')) - ((categories | sum(attribute='monthly_total') or 0) or 0)) < 0 }}">
                <h3>Remaining</h3>
                <h2>
                    {{ ((categories | sum(attribute='monthly_budget')) - ((categories | sum(attribute='monthly_total') or 0) or 0)) | dollars}}
                </h2>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 hidden-xs">
            <div class="col-xs-12 well well-lg dashboard bg-info">
                <h3>Total</h3>
                <h2>{{ (categories | sum(attribute='monthly_total')) |dollars }}</h2>
            </div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs">
            <div class="col-xs-12 well well-lg dashboard bg-primary">
                <h3>Budget</h3>
                <h2>{{ (categories | sum(attribute='monthly_budget')) | dollars }}</h2>
            </div>
        </div>

        <!-- Get the percentage for each category.  If it is over 100% set it to 100% because the chart can't handle it -->
        <!-- Monthly Categories -->
        {% if categories %}
        {% for category in categories %}
        {% set percentage = category.weekly_total/category.monthly_budget %}
        {% if percentage > 1 %}
        {% set percentage = 1 %}
        {% endif %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ url_for('category', category_id=category.id) }}">
                        <strong>{{ category.title }}</strong>
                    </a>
                    <a href="{{ url_for('new_line_item', category_id=category.id) }}">
                        <span class="glyphicon glyphicon-plus pull-right"></span>
                    </a>
                </div>
                <div class="panel-body">
                    <p>Monthly amount: {{ category.monthly_budget|dollars }}</p>
                    {% if category.monthly_total %}
                    <p>Current Month: {{ category.monthly_total|dollars }}</p>
                    {% else %}
                    None so far
                    {% endif %}
                    <!-- The chart -->
                    <div class="chart">
                        <div class="donut-chart" data-percent="{{ percentage }}" data-title="% of budget"></div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}