{% extends "base.html" %}

{% block content %}
<h1>Hello world</h1>
{% if categories %}
{% for category in categories %}
<h2><a href="{{ url_for('new_line_item', category_id=category.id) }}">{{ category.title }}</a></h2>
    <p>Budgeted amount: {{ "$%.2f"|format(category.budget_amount) }}</p>
    <p>Current week total: 
        {% if category.weekly_total %}
        {{ "$%.2f"|format(category.weekly_total) }}
        {% else %}
        None so far
        {% endif %}
    </p>
    <p>Monthly amount: {{ "$%.2f"|format(category.monthly_budget) }}</p>
    {% if category.monthly_total %}
    <p>Current Month: {{ "$%.2f"|format(category.monthly_total) }}</p>
    {% else %}
    None so far
    {% endif %}
{% endfor %}
{% endif %}
{% endblock %}