{% extends "base.html" %}

{% block app_content %}
<h1>Weekly Stats</h1>
<div class="row">
    {% if categories %}
    {% for category in categories %}
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{ url_for('category', category_id=category.id) }}">
                    <strong>{{ category.title }}</strong>
                </a>
                <a href="{{ url_for('new_line_item', category_id=category.id) }}">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>    
            </div>
            <div class="panel-body">
                <p>Budgeted amount: {{ category.budget_amount|dollars }}</p>
                <p>Current week total: 
                    {% if category.weekly_total %}
                    {{ category.weekly_total|dollars }}
                    {% else %}
                    None so far
                    {% endif %}
                </p>
                <p>Remaining amount:
                    {% if category.weekly_total %}
                    {{ (category.budget_amount - category.weekly_total)|dollars }}
                    {% else %}
                    {{ category.budget_amount|dollars }}
                    {% endif  %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="row">
    <h1>Monthly Stats</h1>
    {% if categories %}
    {% for category in categories %}
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{ url_for('category', category_id=category.id) }}">
                    <strong>{{ category.title }}</strong>
                </a>
                <a href="{{ url_for('new_line_item', category_id=category.id) }}">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                </a>
            </div>
            <div class="panel-body">
                <p>Monthly amount: {{ category.monthly_budget|dollars }}</p>
                {% if category.monthly_total %}
                <p>Current Month: {{ category.monthly_total|dollars }}</p>
                {% else %}
                None so far
                {% endif %}
            </div>
        </div>
    </div>       
    {% endfor %}
    {% endif %}
</div>
{% endblock %}