{% extends "base.html" %}

{% block content %}
<h1>Create a new category</h1>
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.budget_amount.label }}<br>
        {{ form.budget_amount(size=32) }}
        {% for error in form.budget_amount.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit }}</p>
</form>
{% endblock %}